@media only screen and (min-width: 1024px) and (max-width: 1920px){
    body {
        padding: 0 50px;
    }
}
@media only screen and (min-width: 1920px) {
    #main > div > div.weather > h3{
        font-size: 1.1rem;
    }
    #main > div > div.weather > p {
        font-size: 0.95rem;
    }
}
@media only screen and (min-width: 320px) and (max-width: 1920px){
    select {
        -webkit-appearance: none;
        background-color: #ffffff;
    }
    .wrapper {
        width: 100%;
    }
    section .sec_title {
        padding: 160px 0 160px 0;
    }
    #package_service .wrapper,
    #tour .wrapper,
    #notice .wrapper{
        /*<div class="map bg_icon">*/
        padding: 140px 0 140px 0;
    }
    #package_service .wrapper .sec_title,
    #tour .wrapper .sec_title,
    #gallery .wrapper .sec_title,
    #notice .wrapper .sec_title {
        padding: 0;
    }
    #package_service nav {
        /*padding: 60px 10px 47px 10px;*/
        padding: 60px 26.89% 47px 26.89%;
    }
    #tour nav {
        padding: 60px 10px 0 10px;
    }
    #notice nav {
        padding: 60px 10px 40px 10px;
        width:  542px;
        margin-left: auto;
        margin-right: auto;
    }
    footer .wrapper {
        padding: 150px 0 150px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #tour .content_box > .left_arrow {
        left: 25%;
        top: 110%;
        transform: translate(-50%,-50%);
    }
    #tour .content_box > .right_arrow {
        right: 25%;
        top: 110%;
        transform: translate(-50%,-50%);
    }
    #info .wrapper > div {
        width: 100%;
    }

}



@media only screen and (min-width: 320px) and (max-width: 1240px) {
    section .form {
        grid-template-columns: repeat(2, 1fr);
    }
    section .reservation_box > div {
        margin-top: 84px;
    }
    section .main_top_slider div {
        background-position: 80% center;
    }
    #package_service > div > div.content_box > ul {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 18px;
    }
    #main > div > div.weather {
        display: none;
    }
    #offer_service > div > ul > li.p_rel.sec_title.col-2 > div:nth-child(2) > h2 {
        font-size: 2.35rem;
    }
    #offer_service .grid li {
        height: 230px;
    }
    #offer_service .sec_title {
        padding: 39px 0 96px 0;
    }
    #offer_service > div > ul > li.p_rel.sec_title.col-2 > div:nth-child(1) > span {
        height: 48px;
    }
    #offer_service .grid li > .add_box > strong {
        font-size: 1.25rem;
    }
    #offer_service .grid li > .add_box > p {
        font-size: 0.75rem;
    }
    #offer_service .grid li > .add_box > div {
        width: 95px;
        height: 30px;
        font-size: 0.875rem;
    }
    #package_service nav {
        /*padding: 60px 10px 47px 10px;*/
        padding: 60px 20.89% 47px 20.89%;
    }
    #popup_view .wrapper {
        width: 100%;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one > div.price_content > div.price_res_button {
        margin-left: 6.5%;
    }
}


@media only screen and (min-width: 320px) and (max-width: 1024px) {
    section > div.main_top > div.chat_bot {
        top: 116px;
    }
    section .main_top_slider div {
        background-position: 75% center;
    }
    #leisure_service > div > div:nth-child(3) {
        grid-template-columns: repeat(3, 1fr);
    }
    #leisure_service > div > div.service_content.m_top_60 > div.col-3.p_rel {
        padding: 40px 0 0 0;
    }
    #leisure_service > div > div.service_content.m_top_60 > div.col-3.p_rel > span {
        display: none;
    }
    #offer_service > div > ul {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    #offer_service > div > ul > li.p_rel.photo_2.col-2 {
        order:8;
    }

    #offer_service > div > ul > li:nth-child(1) {
        order:2;
    }
    #offer_service .grid li > .add_box > strong {
        font-size: 1.625rem;
    }
    #offer_service .grid li > .add_box > p {
        font-size: 1.125rem;
    }
    #offer_service .grid li > .add_box > div {
        width: 95px;
        height: 30px;
        font-size: 0.875rem;
    }

    #tour .wrapper{
        padding: 140px 0 140px 0;
    }
    #notice > div > div.content_box > div.content_container.reservation > ul > li > div:nth-child(4),
    #notice > div > div.content_box > div.content_container.inquiry > ul > li > div:nth-child(2),
    #notice > div > div.content_box > div.content_container.notice > ul > li > div:nth-child(2) {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    footer .wrapper {
        padding: 80px 0 80px 0;
    }
    footer .wrapper > div {
        flex-direction: column;
        align-items: center;
    }
    footer > div > div .footer_logo {
        margin: 0;
    }
    footer .wrapper > div > address {
        margin-top: 40px;
    }
    #popup_view .wrapper {
        width: 95%;
    }
    #popup_view .wrapper.leisure .popup_title {
        padding-left: 4.21%;
    }
    #popup_view .leisure_container .leisure_img_box > div {
        width: 100%;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one > div.price_title {
        font-size: 1.25rem;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one.price_two > div.price_content {
        flex-direction: column;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one.price_two > div.price_content > div:nth-child(1) {
        margin-bottom: 20px;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one > div.price_content > div:nth-child(1) > div:nth-child(1) > p {
        font-size: 0.9rem;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one > div.price_content > div:nth-child(1) > div.p_rel > div:nth-child(2) > span:nth-child(1),
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one > div.price_content > div:nth-child(1) > div:nth-child(2) > span:nth-child(1){
        font-size: 2rem;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one > div.price_content > div:nth-child(1) > div.p_rel > div:nth-child(2) > span:nth-child(2),
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one > div.price_content > div:nth-child(1) > div:nth-child(2) > span:nth-child(2){
        font-size: 1.35rem;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one > div.price_content > div:nth-child(1) > div.p_rel > div.arrow_price.long {
        top: 65%;
        width: 157px;
        height: 12px;
        background-position: -263px 0;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one > div.price_content > div:nth-child(1) > div:nth-child(1) {
        margin-right: 23px;
    }
    /*#popup_view > div > div.leisure_container > div.leisure_price_box_multi_one > div.price_content > div.price_res_button {*/
    /*    margin-left: unset;*/
    /*}*/
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one > div.price_content > div:nth-child(1) {
        flex-direction: column;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one.price_two > div.price_title {
        width: 20%;
        padding: unset;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one.price_two > div.price_content > div:nth-child(1) > div > div.p_rel > div:nth-child(2) {
        width: 100%;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one.price_two > div.price_content > div:nth-child(1) > div > div.p_rel {
        margin-right: 10px;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one.price_two > div.price_content > div:nth-child(1) > div > div.p_rel > div.arrow_price.long {
        left: 61%;
    }
    #popup_view .leisure_price_box_multi > div > strong,
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_package > div > div.price_content > ul > li > strong {
        font-size: 1.25rem;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_package > div > div.price_content > ul > li > div > div.p_rel {
        margin-right: 22px;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_package > div > div.price_content > ul > li > p {
        font-size: 0.8125rem;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_package > div:nth-child(2) > div.price_content > ul > li.package_info > div > div:nth-child(1) > span:nth-child(1),
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_package > div:nth-child(2) > div.price_content > ul > li.package_info > div > div:nth-child(2) > span:nth-child(2),
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_package > div:nth-child(2) > div.price_content > ul > li.package_info > div > div:nth-child(2) > span:nth-child(1) {
        font-size: 0.875rem;
    }

    #popup_view > div > div.leisure_container > div.leisure_img_box > ul > li:nth-child(1) > div,
    #popup_view > div > div.leisure_container > div.leisure_img_box > ul > li:nth-child(2) > div {
        width: 100% !important;
    }
    #popup_view > div > div.guide_content.subway > div.navi,
    #popup_view > div > div.guide_content.car > div.navi {
        display: none;
    }
    #notice .reservation.content_title > div:nth-child(n+1):nth-child(-n+2),
    #notice > div > div.content_box > div.content_container.reservation ul li > div:nth-child(n+1):nth-child(-n+2) {
        width: 85px;
    }
    #notice .reservation.content_title > div:nth-child(3), #notice > div > div.content_box > div.content_container.reservation ul li > div:nth-child(3),
    #notice .reservation.content_title > div:nth-child(n+5):nth-child(-n+6),
    #notice > div > div.content_box > div.content_container.reservation ul li > div:nth-child(n+5):nth-child(-n+6) {
        width: 100px;
    }
    #make_reservation > div.consent_container > div.content_box > div.nav_box,
    #make_inquiry > div.consent_container > div.content_box > div.nav_box {
        grid-template-columns: repeat(4,1fr);
    }
    #make_reservation > div:not(.consent_container) > div.content_box > div > div:nth-child(1),
    #make_inquiry > div:not(.consent_container) > div.content_box > div > div:nth-child(1) {
        font-size: 0.875rem;
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    header > div {
        display: unset;
    }
    header > div > div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }
    header nav {
        margin: 0;
    }
    section .reservation_box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    section .form {
        grid-template-columns: repeat(1, 1fr);
    }
    section .main_top_slider div {
        background-position: 69% center;
    }
    #reservation{
        margin: 0;
    }
    #package_service nav {
        /*padding: 60px 10px 47px 10px;*/
        padding: 60px 1.89% 47px 1.89%;
    }
    #package_service > div > div.content_box > ul {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 18px;
    }
    #package_service > div > div.content_box > div > div.group_content > div > div:nth-child(1) > p:nth-child(1) {
        font-size: 0.9375rem
    }
    #package_service > div > div.content_box > div > div.group_content > div > div:nth-child(1) > p:nth-child(2) {
        font-size: 0.875rem !important
    }
    #package_service > div > div.content_box > div > div.group_service ul {
        grid-template-columns: repeat(1,1fr);
    }
    section .reservation_box > div{
        margin: 0 0 50px 0;
    }
    #leisure_service > div > div:nth-child(3) {
        grid-template-columns: repeat(1, 1fr);
    }
    #leisure_service > div > div.service_content.m_top_60 > div.col-3.p_rel {
        grid-column: unset;
    }
    #leisure_service > div > div.service_content.m_top_60 > div:not(:last-child) {
        padding-top: 40px;
    }

    #notice nav {
        width: 100%;
    }
    #tour .content_box ul li {
        grid-template-columns: repeat(1, 1fr);
    }
    #search_notice {
        width: 88%;
    }
    /*#tour .content_box > .left_arrow {*/
    /*    top: 103%;*/
    /*}*/
    /*#tour .content_box > .right_arrow {*/
    /*    right: 8%;*/
    /*    top: 103%;*/
    /*}*/
    /*#tour > div > nav > ul > li:nth-child(2) > div:nth-child(1) {*/

    /*}*/
    #info h2 {
        font-size: 2.1rem;
    }
    #info .wrapper > div {
        width: 100%;
    }
    body > footer > div > div > address > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #package_service > div > div.content_box > div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    #package_service > div > div.content_box > div > div.group_content {
        width: 100%;
    }
    #package_service .content_box .group_package .group_title,
    #package_service .content_box .group_package .group_content > div {
        grid-template-columns: repeat(3,1fr);
    }
    #package_service .content_box .group_package .group_title > div:first-child,
    #package_service .content_box .group_package .group_content > div > div:first-child {
        grid-column: span 1;
    }
    #package_service .content_box .group_package .group_content > div > div:first-child {
        padding-left: 10px;
        padding-right: 10px;
    }
    #package_service .content_box .group_package .group_title {
        height: 120px;
        width: 100%;
    }

    #package_service .content_box .group_package .group_content > div:last-child,
    #package_service > div > div.content_box > div > div.group_service > div {
        font-size: 0.8rem;
    }
    #package_service > div > div.content_box > div > div.group_service ul li > p:not(:last-child) {
        font-size: 0.875rem;
    }

    #info > div > div > div.call {
        display: flex;
    }
    #popup_view .wrapper {
        width: 95%;
    }
    #popup_view .wrapper.leisure .popup_title {
        padding-left: 4.21%;
    }
    #popup_view .leisure_container .leisure_img_box > div {
        width: 100%;
    }
    #popup_view .leisure_price_box_multi {
        grid-template-columns: repeat(1, 1fr);
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one > div.price_title {
        height: 50px;
        width: 100%;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one > div.price_title > strong {
        display: none;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one > div.price_title:before {
        visibility: visible;
        content: '이용요금 안내';
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one > div.price_title > strong > br,
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one > div.price_content > div.price_res_button{
        display: none;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one > div.price_content > div:nth-child(1) {
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one > div.price_content > div:nth-child(1) > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: unset;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one > div.price_content > div:nth-child(1) > div:nth-child(1) > p {
        font-size: 1rem;
        padding-top: 25px;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one > div.price_content > div:nth-child(1) > div.p_rel > div:nth-child(2) {
        padding-top: 16px;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one > div.price_content > div:nth-child(1) > div.p_rel > div.arrow_price.long {
        top: 78%;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one > div.price_content > div:nth-child(1) > div:nth-child(2) {
        padding-top: 16px;
        padding-bottom: 25px;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one.price_two > div.price_title {
        width: 100%;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one.price_two > div.price_content > div:nth-child(1) > div:nth-child(1) {
        flex-direction: unset;
        margin-bottom: unset;
        margin-top: 25px;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_package .price_content > ul {
        grid-template-columns: repeat(2, 1fr);
    }
    #popup_view > div.argo > div.leisure_container > div.leisure_img_box ul {
        grid-template-columns: repeat(1,1fr);
    }
    #popup_view > div > div.leisure_container > div.leisure_img_box > ul > li:nth-child(1) > div,
    #popup_view > div > div.leisure_container > div.leisure_img_box > ul > li:nth-child(2) > div {
        width: 90% !important;
        height: 422px !important;
    }
    #popup_view .leisure_course_box > nav,
    #popup_view .leisure_course_box > nav > div{
        width: 100%;
    }
    #popup_view > div.read_res > div.read_container .read_info_content > div > div {
        padding-left: 5%;
    }
    #popup_view > div.read_res > div.read_container .read_info_content > div > div:nth-child(1),
    #popup_view > div.read_res > div.read_container .read_info_content > div > div:nth-child(3),
    #popup_view > div.read_res > div.read_container > div.read_content_box > div:nth-child(1),
    #popup_view > div.read_res > div.read_container .read_info_content > div > div:nth-child(2),
    #popup_view > div.read_res > div.read_container .read_info_content > div > div:nth-child(4){
        font-size: 0.8125rem;
    }
    #popup_view > div > div.read_container > div.read_info_content > div:nth-child(1) > div:nth-child(3) > span:nth-child(1) {
        display: none;
    }
    #popup_view > div > div.read_container > div.read_info_content > div:nth-child(1) > div:nth-child(3) > .phone_text {
        display: block !important;
    }
    #popup_view > div > div.read_container > div.read_info_content > div:nth-child(2) > div:nth-child(2) > p {
        width: 100%;
        overflow-wrap: break-word;
    }
    #tour > div > div.content_box > div.left_arrow {
        top: 27%;
        left: 69px;
    }
    #tour > div > div.content_box > div.right_arrow {
        top:27%;
        right: -14px;
    }
    #make_reservation > div.consent_container > div.content_box > div.nav_box,
    #make_inquiry > div.consent_container > div.content_box > div.nav_box {
        grid-template-columns: repeat(4,1fr);
    }
    #make_reservation > div.reservation_container > div.content_box > div:nth-child(5) > div.calendar .date_popup {
        width: 320px !important;
    }
    #make_reservation > div.consent_container > div.content_box > div.nav_box,
    #make_inquiry > div.consent_container > div.content_box > div.nav_box {
        grid-template-columns: repeat(2,1fr);
    }

    #make_reservation > div:not(.consent_container) > div.content_box > div > div:nth-child(1),
    #make_inquiry > div:not(.consent_container) > div.content_box > div > div:nth-child(1) {
        font-size: 0.875rem;
        padding-left: 10px;
    }
    #make_reservation > div.reservation_container > div.content_box > div:nth-child(3) > div:nth-child(1) > span:nth-child(1) {
        display: none;
    }
    #make_reservation > div.reservation_container > div.content_box > div:nth-child(3) > div:nth-child(1) > span:nth-child(2) {
        display: block !important;
    }
    #popup_view .list_container > div {
        grid-template-columns: repeat(10, 1fr);
    }
    #popup_view .list_container > div > div:nth-child(3) {
        grid-column: span 8;
    }
    .ui-datepicker-group.ui-datepicker-group-last > table,
    .ui-datepicker-group.ui-datepicker-group-last > div > div{
        display: none;
    }
    .ui-datepicker-multi-2 .ui-datepicker-group {
        width: 100% !important;
    }
    .ui-datepicker-group.ui-datepicker-group-first > div > div.ui-datepicker-title {
        float: none;
        margin-right: 2.3em;
    }
    .ui-datepicker-group.ui-datepicker-group-last > div > a {
        position: absolute;
        /*left: 20em;*/
        left: 17.55em;
        top: -20.3em;
    } /*22.3em*/
    .ui-datepicker-group.ui-datepicker-group-first > div > div:after {
        content: ' ' !important;
    }
}
@media only screen and (min-width: 320px) and (max-width: 617px) {
    ::-webkit-scrollbar {
        display: none;
    }
    #package_service nav ul li > div:nth-child(1),
    #tour nav ul li > div:nth-child(1),
    #notice nav ul li > div:nth-child(1) {
        color: #7a7a7a;
    }
    #tour > div > nav > ul {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    #tour > div > nav > ul > li:last-child,
    #tour > div > nav > ul > li > .bottom_bar {
        display: none;
    }

    #tour .content_box > .left_arrow {
        width: 51px;
        height: 51px;
        top: 27% !important;
        left: 53px !important;
    }
    #tour .content_box > .right_arrow {
        width: 51px;
        height: 51px;
        top: 27% !important;
        right: 2px !important;
    }
    #search_notice dl dd:nth-child(1) {
        width: 78px;
    }
    #notice > div > div.content_box > div.content_container.reservation > ul > li > div:nth-child(4),
    #notice > div > div.content_box > div.content_container.inquiry > ul > li > div:nth-child(2),
    #notice > div > div.content_box > div.content_container.notice > ul > li > div:nth-child(2) {
        white-space: unset;
        text-overflow: unset;
        overflow: unset;
    }
    #notice > div > div.content_box > div.content_container > ul > li {
        position: relative;
    }
    #notice > div > div.content_box > div.content_container.reservation > ul > li > div:nth-child(3),
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.list > div:nth-child(4){
        text-align: center !important;
    }
    #notice > div > div.content_box > div.content_container.reservation > ul > li > div:nth-child(3):after{
        content: '예약일 - ';
        position: absolute;
        left: 16%;
        top: 67px;
        line-height: 1;
        font-size: 0.875rem;
        letter-spacing: -0.64px;
        text-align: left;
        color: #a8a8a8;
    }
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.list > div:nth-child(4):after {
        content: '작성일 - ';
        position: absolute;
        left: 16%;
        top: 67px;
        line-height: 1;
        font-size: 0.875rem;
        letter-spacing: -0.64px;
        text-align: left;
        color: #a8a8a8;
    }

    #notice > div > div.content_box > div.content_container.notice > ul > li > div:nth-child(2):after {
        content: '>';
        position: absolute;
        right: 20px;
        top: 50%;
        font-size: 1.5rem;
        line-height: 1;
        transform: translateY(-50%);
        color: #d7d7d7;
    }

    #notice .content_title {
        background-color: #ffffff;
        border-bottom: 2px solid #333333;
        border-top: unset;
        height: auto;
    }

    #notice .content_title > div {
        display: none;
    }

    #notice .notice_content_title > div:nth-child(1),
    #notice > div > div.content_box > div.content_container ul li div:nth-child(1) {
        width: 70px;
    }

    #notice .notice_content_title > div:nth-child(n+3):nth-child(-n+4),
    #notice .notice_content_title > div:nth-child(5) {
        display: none;
    }
    #notice > div > div.content_box {
        width: 95%;
    }
    #notice > div > div.content_box > div.content_container > ul > li {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        height: unset;
    }
    #notice > div > div.content_box > div.content_container.notice > ul > li > div:nth-child(2),
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.list > div:nth-child(2){
        /*height: 28px;*/
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1;
        letter-spacing: -0.72px;
        text-align: left;
        color: #333333;
        padding-top: 33px;
    }
    #notice > div > div.content_box > div.content_container.notice > ul > li > div:nth-child(3),
    #notice > div > div.content_box > div.content_container.notice > ul > li > div:nth-child(5),
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.confirm > div:nth-child(3),
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.confirm > div:nth-child(4){
        display: none;
    }


    #notice > div > div.content_box > div.content_container:not(.reservation) > ul > li > div:nth-child(1) {
        grid-row: span 2;
        line-height: 6;
        width: 47px;
        display: none;
    }

    #notice > div > div.content_box > div.content_container:not(.reservation) > ul > li > div:nth-child(2),
    #notice > div > div.content_box > div.content_container.notice > ul > li > div:nth-child(4){
        grid-column: span 5;
        margin-left: 5%;
    }
    #notice > div > div.content_box > div.content_container.notice > ul > li > div:nth-child(4),
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.list > div:nth-child(3),
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.list > div:nth-child(4),
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.answer > div:nth-child(3),
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.answer > div:nth-child(4),
    #notice > div > div.content_box > div.content_container.reservation > ul > li.list > div:nth-child(2),
    #notice > div > div.content_box > div.content_container.reservation > ul > li.list > div:nth-child(3){
        font-size: 0.875rem;
        /*line-height: 3.19;*/
        line-height: 1;
        text-align: left;
        color: #a8a8a8;
        height: 33px;
        padding: 16px 0 33px 0;
    }
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.answer > div:nth-child(3),
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.list > div:nth-child(3),
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.list > div:nth-child(4),
    #notice > div > div.content_box > div.content_container.reservation ul li > div:nth-child(n+1):nth-child(-n+2),
    #notice > div > div.content_box > div.content_container.reservation > ul > li.list > div:nth-child(3),
    #notice > div > div.content_box > div.content_container.reservation > ul > li.list > div:nth-child(3){
        width: unset !important;
        height: unset;
    }
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.list > div:nth-child(3),
    #notice > div > div.content_box > div.content_container.reservation > ul > li.list > div:nth-child(2),
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.answer > div:nth-child(3){
        text-align: center;
    }
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.answer > div:nth-child(3),
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.answer > div:nth-child(4){
        padding: 0;
    }
    #notice > div > div.content_box > div.content_container.notice > ul > li.list > div:nth-child(3):after {
        content: ' / ';
    }
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.list > div:nth-child(3):after,
    #notice > div > div.content_box > div.content_container.reservation > ul > li.list > div:nth-child(2):after,
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.answer > div:nth-child(3):after{
        content: ' | ';
    }
    #notice > div > div.content_box > div.content_container ul li.answer > div:nth-child(2) > .chain {
        margin-right: 0;
        margin-bottom: 9px;
    }
    #notice > div > div.content_box > div.content_container ul li.answer > div:nth-child(2) > .lock {
        width: 32px;
        height: 22px;
        background-color: #bebebe;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: unset;
    }
    #notice > div > div.content_box > div.content_container ul li.answer > div:nth-child(2) > .lock:after {
        content: 'RE';
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.64px;
        text-align: center;
        color: #ffffff;
    }
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.answer > div:nth-child(2) {
        padding-top: 33px;
    }
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.answer > div:nth-child(2) > div.comment {
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1;
        letter-spacing: -0.72px;
        text-align: left;
        color: #333333;
    }
    /*#notice > div > div.content_box > div.content_container.reservation > ul > li.list > div:nth-child(3):after {*/
    /*    content: ' ';*/
    /*}*/
    #notice > div > div.content_box > div.content_container.inquiry > ul > li > div:nth-child(3) {
        text-align: right;
        width: 100%;
    }
    #notice .notice_content_title > div:nth-child(n+3):nth-child(-n+4),
    #notice > div > div.content_box > div.content_container:not(.reservation) ul li div:nth-child(n+3):nth-child(-n+4) {
        width: 90px;
    }
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.list > div:nth-child(4) {
        padding-left: 35px;
    }
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.answer > div:nth-child(n+3):nth-child(-n+4) {
        /*display: none;*/
        opacity: 1 !important;
        padding: 16px 0 33px 0;
    }
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.answer > div:nth-child(4) {
        position: absolute;
        top: 55px;
        left: 16%;
    }
    #notice > div > div.content_box > div.content_container.reservation > ul > li > div:nth-child(4) {
        grid-column: span 5;
        margin-left: 5%;
        width: 100%;
        display: flex;
        align-items: center;
        order: 1;
        /*height: 28px;*/
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1;
        letter-spacing: -0.72px;
        text-align: left;
        color: #333333;
        padding-top: 33px;
    }

    #notice > div > div.content_box > div.content_container.reservation > ul > li > div:nth-child(1) {
        width: 100% !important;
        display: none;
    }

    #notice > div > div.content_box > div.content_container.reservation > ul > li > div:nth-child(2) {
        order: 3;
    }

    /*#notice > div > div.content_box > div.content_container.reservation > ul > li > div:nth-child(3)*/
    #notice > div > div.content_box > div.content_container.reservation > ul > li > div:nth-child(5)
    {
        display: none;
    }

    #notice > div > div.content_box > div.content_container.reservation > ul > li > div:nth-child(3) {
        grid-column: span 1;
        order: 4;
        padding-left: 41% !important;
    }

    #notice > div > div.content_box > div.content_container.reservation > ul > li > div:nth-child(6) {
        width: 100% !important;
        /*grid-column: span 3;*/
        justify-content: flex-end;
        order: 2;
        position: absolute;
        top: 50%;
        right: 15px;
        font-size: 0.875rem;
        font-weight: bold;
        letter-spacing: -0.56px;
        text-align: center;
        color: #ffffff;
        transform: translateY(-50%);
    }

    #notice > div > div.content_box > div.content_container.reservation > ul > li > div:nth-child(2):after,
    #notice > div > div.content_box > div.content_container.reservation > ul > li > div:nth-child(5):after {
        content: ' / ';
    }

    #notice > div > div.content_box > div.content_container.inquiry > ul > li.answer > div:nth-child(2) > div.comment {
        width: 100%;
    }

    #notice > div > div.content_box > div.content_container > ul > li > div:nth-child(5) {
        text-align: center;
        width: 100%;
    }

    #notice > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .js_inquiry_update_btn{
        background-color: #f5f5f5;
        color: #929292;
        width: 80px;
        height: 30px;
    }
    .js_inquiry_delete_btn{
        background-color: #959595;
        color : #fff;
        width: 80px;
        height: 30px;
    }

    /*#notice > div > div.content_box > div.content_container.inquiry > div:nth-child(1) > div {*/
    /*    margin-right: auto;*/
    /*    width: 90%;*/
    /*}*/
}
@media only screen and (min-width: 320px) and (max-width: 425px) {
    section .main_top > p,
    section .main_top > h2{
        left: 13.75%;
    }
    .poppins_50 {
        font-size: 2.35rem;
    }

    header nav ul li {
        font-size: 13px;
    }
    #offer_service .wrapper {
        padding: 100px 0;
    }

    #offer_service > div > ul {
        grid-gap: 10px;
    }
    #offer_service .grid li {
        height: 205px;
    }
    #package_service nav {
        padding: 60px 3% 47px 3%;
    }
    #package_service nav ul li > div:nth-child(1),
    #tour nav ul li > div:nth-child(1),
    #notice nav ul li > div:nth-child(1) {
        font-size: 0.8rem;
    }

    #package_service > div > nav > ul > li:nth-child(4) > div:nth-child(1) > span:nth-child(1) {
        display: none;
    }

    #package_service > div > nav > ul > li:nth-child(4) > div:nth-child(1) > span:nth-child(2) {
        display: block !important;
    }

    #package_service nav ul li {
        padding-top: 20px;
    }

    #package_service nav ul li > div:nth-child(2),
    #tour nav ul li > div:nth-child(2),
    #notice nav ul li > div:nth-child(2) {
        margin-top: 20px;
    }

    /*#tour nav {*/
    /*    display: none;*/
    /*}*/

    #tour .content_box ul li > div:nth-child(2) > div > span:nth-child(2) {
        margin-right: 17px;
    }

    #tour .content_box ul li {
        padding: 50px 10px;
    }

    #gallery .btn_box .prev_btn {
        left: 0;
    }

    #gallery .btn_box .next_btn {
        right: 0;
    }
    #gallery .wrapper {
        padding: 140px 10px 140px 10px;
    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
        left: 0;
        right: auto;
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        right: 0;
        left: auto;
    }
    #notice > div > div.content_box > div.search_box {
        display: none;
    }
    #notice > div > div.content_box > div.content_container {
        margin-top: 0;
    }
    #notice > div > div.content_box > div.content_container.inquiry > div:nth-child(1) > div {
        margin-bottom: 10px;
    }
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.answer > div:nth-child(4) {
        left: 17%;
    }
    #search_notice {
        width: 88%;
    }

    #search_notice dl dd:nth-child(1) {
        width: 76px;
    }

    #search_notice dl dd:nth-child(3) {
        width: 55px;
    }
    /*#notice > div > div.content_box > div.content_container.inquiry > ul > li.list > div:nth-child(4),*/
    /*#notice > div > div.content_box > div.content_container.reservation > ul > li > div:nth-child(3){*/
    /*    margin-left: 33%;*/
    /*}*/

    #info .wrapper > div {
        width: 100%;
    }

    #info address {
        text-align: center;
    }

    footer .footer_logo {
        margin-right: 0;
    }
    #popup_view > div > div.map_content {
        padding-right: 4.21%;
    }
    #popup_view > div.wrapper {
        overflow-x: hidden;
    }
    #popup_view > div > div.guide_content, .read_container, .list_container, .leisure_container, #popup_view .del_button {
        padding-right: 4.21%;
    }

    #package_service .content_box .group_package .group_content > div:last-child {
        font-size: 0.75rem;
    }
    #package_service .content_box .group_package {
        padding: 0 10px;
    }
    #package_service .content_box .group_package .group_title,
    #package_service .content_box .group_package .group_content > div {
        grid-template-columns: repeat(4,1fr);
    }
    #package_service .content_box .group_package .group_title > div:first-child,
    #package_service .content_box .group_package .group_content > div > div:first-child {
        grid-column: span 2;
    }
    #package_service > div > div.content_box > div > div.group_service ul {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 18px;
    }
    #package_service .content_box .group_package .group_content > div > div:first-child > p:last-child {
        font-size: 0.8125rem;
    }
    #popup_view > div > div.leisure_container > div.leisure_img_box > ul > li:nth-child(1) > div,
    #popup_view > div > div.leisure_container > div.leisure_img_box > ul > li:nth-child(2) > div {
        height: 255px !important;
    }
    #popup_view .popup_title {
        font-size: 1.875rem;
    }
    #popup_view > div > div.leisure_container > div.leisure_course_box > nav {
        grid-gap: unset;
        width: 100%;
    }
    #popup_view > div > div.leisure_container > div.leisure_course_box > nav > div {
        width: 100%;
        border: none;
    }
    #popup_view > div > div.leisure_container > div.leisure_img_box {
        display: none;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one.price_two > div.price_content > div:nth-child(1) > div > div.p_rel > div:nth-child(2) > span:nth-child(1),
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one.price_two > div.price_content > div:nth-child(1) > div > div:nth-child(2) > span:nth-child(1) {
        font-size: 1.1rem;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one.price_two > div.price_content > div:nth-child(1) > div > div.p_rel > div:nth-child(2) > span:nth-child(2),
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one.price_two > div.price_content > div:nth-child(1) > div > div:nth-child(2) > span:nth-child(2) {
        font-size: 1rem;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_one.price_two > div.price_content > div:nth-child(1) > div > div.p_rel > div.arrow_price.long {
        width: 116px;
        height: 12px;
        background-position: -314px -40px;
        top: 20%;
    }
    #popup_view > div > div.leisure_container > div.leisure_price_box_multi_package .price_content > ul {
        grid-template-columns: repeat(1, 1fr);
    }
    #popup_view > div.canu > div.leisure_container > div.leisure_img_box {
        display: block;
    }
    #popup_view > div.argo > div.leisure_container > div.leisure_img_box {
        display: block;
    }
    #popup_view > div > div.leisure_container > div.leisure_img_box > ul > li:nth-child(2) > p {
       width: 74%;
    }
    #tour > div > div.content_box > div.left_arrow {
        top: 27% !important;
        left: 35px !important;
        width: 51px;
        height: 51px;
    }
    #tour > div > div.content_box > div.right_arrow {
        top:27% !important;
        right: -16px !important;
        width: 51px;
        height: 51px;
    }
    #popup_view > div > div.close {
        background: url('//new.gcleisure.com/res/gcleisure/img/09_x.svg') no-repeat;
        background-position: center center;
        height: 38px;
        width: 38px;
        margin-right: 15px;
    }
    /*#popup_view > div > div.close:after {*/
    /*    background: #333333;*/
    /*    content: "";*/
    /*    height: 2px;*/
    /*    left: -19px;*/
    /*    position: absolute;*/
    /*    top: 18px;*/
    /*    width: 41px;*/
    /*}*/
    /*#popup_view > div > div.list_container > div > div:nth-child(1),*/
    /*#popup_view > div > div.list_container > div > div:nth-child(2){*/
    /*    grid-column: span 2;*/
    /*}*/
    /*#popup_view > div > div.list_container > div > div:nth-child(3) {*/
    /*    grid-column: span 11;*/
    /*}*/
    #notice > div > div.content_box > div.content_container.notice > ul > li.list.list_num_15 > div:nth-child(2) {
        margin-left: 5%;
        width: 85%;
    }
    #notice > div > div.content_box > div.content_container:not(.reservation) > ul > li:not(.answer) > div:nth-child(2),
    #notice > div > div.content_box > div.content_container.reservation > ul > li > div:nth-child(4){
        margin-left: 4%;
        width: 65%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
    }
    #notice > div > div.content_box > div.content_container.inquiry  > ul > li.confirm > div:nth-child(2) {
        width: 100%;
        padding: 40px 0;
    }
    #inquiry_confirm div{
        margin-right: 11px;
        color: #5f5f5f;
        width: unset;
    }
    #inquiry_submit {
        background-color: #3165b1;
        color: #ffffff;
    }
    #notice > div > div.content_box > div.content_container:not(.reservation) > ul > li.list > div:nth-child(2) {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
    }
    #popup_view > div.read_res > div.read_container .read_info_content > div > div {
        justify-content: center;
        padding: unset;
    }
    #popup_view > div.read_res > div.read_container .read_info_content > div > div:nth-child(1),
    #popup_view > div.read_res > div.read_container .read_info_content > div > div:nth-child(3),
    #popup_view > div.read_res > div.read_container > div.read_content_box > div:nth-child(1) {
        font-size: 0.875rem;
        text-align: center;
    }
    #popup_view > div.read_res > div.read_container .read_info_content > div > div:nth-child(2),
    #popup_view > div.read_res > div.read_container .read_info_content > div > div:nth-child(4) {
        font-size: 0.8125rem;
    }
    #popup_view > div > div.read_container > div.read_content_box > div:nth-child(1) {
        padding-left: 0 !important;
    }
    #popup_view > div > div.read_container > div.read_content_box > div.content_text > pre {
        white-space: normal;
    }
    #popup_view > div > div.read_container > div.read_info_content > div:nth-child(2) > div:nth-child(2) {
        /*white-space: normal;*/
        /*overflow: hidden;*/
        /*text-overflow: ellipsis;*/
        /*display: block;*/
        /*line-height: 49px;*/
        margin-left: 5px;
    }
    #make_reservation, #make_inquiry {
        padding: 0 10px 0 10px;
    }
    #make_inquiry > div.consent_container > div.content_box,
    #make_reservation > div.consent_container > div.content_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #make_inquiry > div.consent_container > div.content_box > div.nav_box,
    #make_reservation > div.consent_container > div.content_box > div.nav_box{
        grid-template-columns: repeat(1,1fr);
        display: none;
    }
    #make_inquiry > div.consent_container > div.content_box > div.text_box,
    #make_reservation > div.consent_container > div.content_box > div.text_box{
        display: none;
        order: 2;
        margin-top: 0;
    }
    #make_inquiry > div.consent_container > div.content_box > div.nav_box > div:not(:first-child),
    #make_reservation > div.consent_container > div.content_box > div.nav_box > div:not(:first-child){
        display: none;
    }
    #make_inquiry > div.consent_container > div.content_box > div.consent_confirm > div > div,
    #make_reservation > div.consent_container > div.content_box > div.consent_confirm > div > div {
        display: block !important;
    }
    #make_inquiry > div.consent_container > div.content_box > div.consent_confirm,
    #make_reservation > div.consent_container > div.content_box > div.consent_confirm {
        border-top: 1px solid #d7d7d7;
        order: 1;
    }
    #make_reservation > div:not(.consent_container) > div.content_box > div > div, #make_inquiry > div:not(.consent_container) > div.content_box > div > div {
        justify-content: flex-start;
        padding-left: 10px !important;
        font-size: 0.875rem !important;
        text-align: center !important;
    }
    #make_reservation > div.reservation_container > div.content_box > div:nth-child(5) > div.calendar > div.date_popup {
        left: 11.5% !important;
    }
    #make_reservation > div:not(.consent_container) > div.content_box > div > div:nth-child(2) > input,
    #make_reservation > div.reservation_container > div.content_box > div:nth-child(5) > div.calendar > div:nth-child(1),
    #package_select,
    #make_inquiry > div:not(.consent_container) > div.content_box > div > div:nth-child(2) > input,
    #make_reservation > div.info_text_container > div.content_box > div > div:nth-child(2) > textarea,
    #make_inquiry > div.inquiry_container > div.content_box > div:nth-child(5) > div:nth-child(2) > textarea,
    #popup_view div.submit_container > button{
        width: 100%;
    }
    #make_reservation > div.consent_container > div.content_box > div.consent_confirm > label > span.checkmark,
    #make_inquiry > div.consent_container > div.content_box > div.consent_confirm > label > span.checkmark {
        top: 50%;
        left: 11px;
        width: 15px;
        height: 15px;
        transform: translateY(-50%);
        border-radius: unset;
    }
    #make_reservation > div.consent_container > div.content_box > div.consent_confirm > label > span.checkmark:after,
    #make_inquiry > div.consent_container > div.content_box > div.consent_confirm > label > span.checkmark:after {
        top: 1px;
        left: 4px;
        width: 3px;
        height: 7px;
    }
    #make_inquiry > div.consent_container {
        border-top: 1px solid #000000;
    }
    #close_button,
    #list_button{
        width: 95% !important;
    }
    #popup_view > div > div.read_container > div.read_title {
        padding-left: 0;
    }
    #make_inquiry > div.inquiry_container > div.content_title,
    #cancel,
    #make_inquiry > div.consent_container > div.content_title{
        display: none;
    }
    #make_inquiry > div.inquiry_container > div.content_box > div {
        border-bottom: none;
    }
    #make_inquiry > div.inquiry_container > div.content_box > div > div:nth-child(1) {
        display: none;
    }
    #make_inquiry > div.inquiry_container > div.content_box > div > div:nth-child(2) {
        margin-left: 0;
        padding-left: 0 !important;
        margin-bottom: 10px;
        height: 100%;

    }
    #make_inquiry > div.inquiry_container > div.content_box > div:first-child > div:nth-child(2) {
        margin-top: 24px;
    }
    #make_inquiry > div.inquiry_container > div.content_box > div:nth-child(5) > div:nth-child(2) {
        padding: 0 !important;
    }
    #make_inquiry > div.consent_container > div.content_box {
        margin-top: 0;
    }
    #info_area {
        padding: 10px;
    }
    #inquiry_name,
    #inquiry_pass,
    #phone,
    #inquiry_title,
    #info_area {
        color: #939393 !important;
    }
    #inquiry_name::placeholder,
    #inquiry_pass::placeholder,
    #phone::placeholder,
    #inquiry_title::placeholder,
    #info_area::placeholder {
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 0.875rem !important;
        line-height: 1 !important;
        letter-spacing: -0.42px !important;
        text-align: left;
        color: #939393 !important;
    }
    #package_service > div > div.content_box > ul {
        width: 95%;
    }
    #package_service > div > div.content_box > ul > li {
        display: flex;
    }
    #package_service > div > div.content_box > ul > li > div.p_rel > div {
        width: 142px !important;
        height: 142px !important;
    }
    #package_service > div > div.content_box > ul > li > div.package_content {
        flex-direction: unset;
        padding: 0  3% ;
        width: 100%;
    }
    #package_service > div > div.content_box > ul > li > div.package_content > div {
        flex:1;
    }
    #package_service > div > div.content_box > ul > li> div.package_content > div.reservation_button {
        display: none;
    }
    #package_service > div > div.content_box > ul > li > div.package_content > div:nth-child(1) > div > span {
        display: none;
    }
    #package_service > div > div.content_box > ul > li > div.package_content > div:nth-child(1) > div {
        font-size: 1.3rem;
        margin-top: 0;
    }
    #package_service > div > div.content_box > ul > li > div.package_content > div:nth-child(1) > p {
        font-size: 0.9375rem;
        margin-bottom: 0;
        text-align: center;
    }
    #package_service > div > div.content_box > ul > li > div.package_content > div:nth-child(1) {
        /*margin-right: 16%;*/
        margin-right: 5%;
    }
    #package_service > div > div.content_box > ul > li > div.package_content >div:nth-child(2) > p:nth-child(2) {
        margin-bottom: 0;
    }
    #package_service > div > div.content_box > ul > li > div.package_content >div:nth-child(2) > p:nth-child(2) > span {
        font-size: 1.2rem;
    }
    #popup_view .list_container > div {
        grid-template-columns: repeat(6, 1fr);
    }
    #popup_view .list_container > div > div:nth-child(3) {
        grid-column: span 4;
    }
    body > footer > div > div > address > div:nth-child(2) {
        white-space: nowrap;
    }
    .ui-datepicker-group.ui-datepicker-group-last > div > a {
        position: absolute;
        left: 20.45em;
        top: -22.3em;
    }

    .js_inquiry_popup_btn{
        padding-right: 4.21%;
    }
    .js_inquiry_update_btn{
        background-color: #f5f5f5;
        color: #929292;
        font-size: 16px;
        width: 50px;
        height: 30px;
    }
    .js_inquiry_delete_btn{
        background-color: #959595;
        color : #fff;
        font-size: 16px;
        width: 50px;
        height: 30px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 375px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
        /*padding: 10px;*/
    }
    header nav ul li {
        font-size: 11px;
    }
    #offer_service > div > ul {
        grid-gap: 10px;
    }
    #offer_service .sec_title > div:nth-child(2) > p {
        font-size: 0.82rem;
    }
    #package_service > div > div.content_box > ul > li > div:nth-child(1) > div:nth-child(1) {
        width: 100%;
        height: 201px;
    }
    #package_service > div > div.content_box > div > div.group_content > div > div > p:nth-child(1) {
        font-size: 0.8125rem !important;
    }
    /*#package_service > div > div.content_box > ul > li > div.package_content {*/
    /*    padding: 40px 80px;*/
    /*}*/
    /*#package_service > div > div.content_box > ul.package_3 > li > div.package_content {*/
    /*    padding: 40px;*/
    /*}*/
    #package_service .content_box .group_package .group_content > div:last-child {
        font-size: .8rem;
        padding: 0 10px 0 10px;
        letter-spacing: 0.4px;
        line-height: 1.5;
    }
    #notice > div > div.content_box > div.content_container:not(.reservation) > ul > li > div:nth-child(2),
    #notice > div > div.content_box > div.content_container.reservation > ul > li > div:nth-child(4){
        margin-left: 3.5%;
    }
    #notice > div > div.content_box > div.content_container.reservation > ul > li > div:nth-child(3),
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.list > div:nth-child(4){
        padding-left: 53% !important;
    }
    #notice > div > div.content_box > div.content_container.reservation > ul > li > div:nth-child(3):after,
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.list > div:nth-child(4):after {
        left: 17%;
    }
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.answer > div:nth-child(4) {
        left: 18%;
    }
    #tour .content_box ul li.li_jden > div:nth-child(2) > div {
        font-size: 0.75rem;
    }
    #tour .content_box ul li.li_jden > div:nth-child(2) > div > .location,
    #tour .content_box ul li.li_jden > div:nth-child(2) > div > span:nth-child(2),
    #tour .content_box ul li.li_jden > div:nth-child(2) > div > address{
        margin-right: 5px;
    }
    #info h2 {
        font-size: 1.6rem;
    }
    /*#popup_view > div > div.close {*/
    /*    margin-right: 3%;*/
    /*}*/
    #popup_view .leisure_course_box > nav > div {
        font-size: 0.75rem;
    }
    #make_reservation > div.reservation_container > div.content_box > div:nth-child(5) > div.calendar > div.date_popup {
        left: 0 !important;
        width: 100% !important;
    }
    .ui-datepicker-group.ui-datepicker-group-last > div > a {
        position: absolute;
        left: 22.3em;
        top: -22.3em;
    }
}
@media only screen and (max-width: 320px) {
    .ui-datepicker-group.ui-datepicker-group-last > div > a {
        position: absolute;
        left: 18.6em;
        top: -22.3em;
    }
    section .main_top > h2 {
        left: 5.5%;
    }
    section .main_top > p{
        left: 6.75%;
    }
    #package_service .wrapper .sec_title > div:nth-child(2) > h2{
        line-height: 1;
    }
    #package_service > div > div.content_box > ul > li > div.package_content > div:nth-child(1) > div {
        font-size: 1.125rem;
    }
    /*#notice > div > div.content_box > div.content_container.inquiry > ul > li.list > div:nth-child(4),*/
    /*#notice > div > div.content_box > div.content_container.reservation > ul > li > div:nth-child(3){*/
    /*    margin-left: 55%;*/
    /*}*/
    #notice > div > div.content_box > div.content_container.reservation > ul > li > div:nth-child(3):after,
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.list > div:nth-child(4):after {
        left: 17%;
    }
    #notice > div > div.content_box > div.content_container.inquiry > ul > li.answer > div:nth-child(4) {
        left: 19%;
    }
    #make_reservation > div.consent_container > div.content_box > div.consent_confirm > label > span:nth-child(1),
    #make_inquiry > div.consent_container > div.content_box > div.consent_confirm > label > span:nth-child(1) {
        font-size: 0.75rem;
    }
    #make_reservation > div:not(.consent_container) > div.content_box > div > div,
    #make_inquiry > div:not(.consent_container) > div.content_box > div > div {
        font-size: 0.6875rem !important;
    }
    #popup_view > div > div.leisure_container > div.leisure_img_box > ul > li:nth-child(1) > div,
    #popup_view > div > div.leisure_container > div.leisure_img_box > ul > li:nth-child(2) > div {
        height: 213px !important;
    }
}