* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, .8);
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #3165b1;
}

body::-webkit-scrollbar-thumb {
    background-color: #0075d5;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .6);
    background-color: #3165b1;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover,
a:valid,
a:active,
a:focus {
    text-decoration: none;
}

textarea:focus {
    outline: none;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

textarea::placeholder,
input::placeholder {
    color: #cccccc;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1rem;
    letter-spacing: -0.05rem;
    font-weight: 100;
}

input {
    width: 100%;
    height: 57px;
    border-radius: 5px;
    background-color: #ffffff;
    border: none;
    padding: 0 25px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.05rem;
}

header,
section,
footer {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.line {
    display: inline-block;
    width: 1px;
    height: 95px;
    border-right: 1px solid #333333;
}

.texthide {
    display: inline-block;
    text-indent: -9999px;
}

.flex {
    display: flex;
}

.icon {
    display: inline-block;
}

.relative {
    position: relative;
}

.red {
    color: #f73f3c;
}

.blue {
    color: #009df1;
}

.green {
    color: #00a83d;
}

.center {
    text-align: center;
}

.section_p {
    padding: 150px 0;
}

.sp1 {
    grid-column: 1 span;
}

.sp2 {
    grid-column: 2 span;
}

.sp3 {
    grid-column: 3 span;
}

.sp4 {
    grid-column: 4 span;
}

.hide {
    display: none;
}

label.tag {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    height: 20px;
    line-height: 20px;
    padding: 0 7px 0 5px;
    background: #da1313;
    font-family: Arial, gulim, Helvetica, sans-serif;
    color: #fff;
    font-size: 0.75rem;
    border-radius: 4px;
    letter-spacing: -0.05rem;
    top: -2px;
    font-weight: 400;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: Poppins;
    font-size: 3.125rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #333333;
}

.p2 {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -0.48px;
    color: #9a9a9a;
}

header {
    background-color: rgba(255, 255, 255);
    height: 79px;
}

header .wrapper {
    align-items: center;
    justify-content: center;
}

header .logo {
    align-items: center;
    justify-content: center;
    font-size: 1.875rem;
    letter-spacing: -0.05rem;
    font-weight: 600;
}

header .logo .icon {
    width: 42px;
    height: 42px;
    background-image: url(../svg/logo.svg);
    margin-right: 5px;
}

header nav {
    margin-left: auto;
}

header nav ul li a {
    font-size: 1.125rem;
    letter-spacing: -0.05rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .5);
    margin: 0 23px;
}

header nav ul li a:hover {
    font-weight: 600;
    color: rgba(0, 0, 0, .8);
}

#cover {
    height: 717px;
    background-image: url(../img/cover.jpg);
    background-size: cover;
    background-position: center;
}

#cover .wrapper {
    height: 100%;
    align-items: center;
    justify-content: left;
}

#cover h1 {
    text-shadow: 1.1px 1.7px 2px rgba(23, 37, 27, 0.38);
    font-family: Poppins;
    font-size: 60px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
}

#cover p {
    text-shadow: 1.1px 1.7px 2px rgba(23, 37, 27, 0.38);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #ffffff;
}

#weather {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 240px;
    border-radius: 10px;
    padding: 40px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
}

#weather h2 {
    position: relative;
    font-family: Poppins;
    font-size: 1.875rem;
    font-weight: 900;
    letter-spacing: -0.05rem;
    font-stretch: normal;
    font-style: normal;
    color: #3165b1;
}

#weather h2::after {
    position: absolute;
    top: -15px;
    left: 0;
    content: "TODAY";
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    color: #3165b1;
    letter-spacing: -0.05rem;
}

/*
* 날씨아이콘
* icon_w_01 = 해
* icon_w_02 = 흐림
* icon_w_03 = 비
* icon_w_04 = 눈
* icon_w_05 = 눈비
*/
#weather .flex {
    margin: 10px 0 20px 0;
    align-items: center;
}

#weather .icon {
    width: 52px;
    height: 52px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 15px;
}
#weather .iconSunny{
    background-image: url(../svg/icon_w_01.svg);
}
#weather .iconCloud{
    background-image: url(../svg/icon_w_02.svg);
}
#weather .iconRain{
    background-image: url(../svg/icon_w_03.svg);
}
#weather .iconSnow{
    background-image: url(../svg/icon_w_04.svg);
}
#weather .iconRainSnow{
    background-image: url(../svg/icon_w_05.svg);
}
#weather .temperature {
    position: relative;
    font-family: Poppins;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -0.05rem;
    text-align: left;
    color: #333333;
}

#weather .temperature::after {
    position: absolute;
    top: 2px;
    content: "℃";
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
}

#weather ul {
    font-size: 0.75rem;
    font-family: Arial, dotum, Helvetica, sans-serif;
}

#weather ul li {
    line-height: 1.8;
    display: flex;
    align-items: center;
}

#weather ul li .split {
    width: 1px;
    height: 10px;
    display: inline-block;
    border-right: 1px solid #d7d7d7;
    margin: 0 5px;
}

#weather ul li b {
    margin-left: 5px;
}


#reservation {
    height: 150px;
    background-color: #3165b1;
}

#reservation ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.125rem;
}

#reservation .selectbox input {
    cursor: pointer;
}

#reservation .selectbox .arrowbox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
}

#reservation .selectbox .arrow {
    width: 12px;
    height: 12px;
    background-image: url(../svg/select_arrow.svg);
    background-size: 12px 12px;
    transition: all ease .3s;
    transform-origin: center center;
}

#reservation .selectbox.on .arrow {
    transform: rotate(90deg);
}

#reservation .selectLayer {
    display: none;
    position: absolute;
    z-index: 100;
    top: 120px;
    left: 0;
    border-radius: 5px;
    background-color: rgba(255, 255, 255);
    box-shadow: 0 0 25px rgba(0, 0, 0, .08);
    padding: 60px 0;
    text-align: center;
}

#reservation .selectLayer h2 {
    position: relative;
    font-family: Poppins;
    font-size: 1.875rem;
    font-weight: 900;
    letter-spacing: -0.05rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
}

#reservation .selectLayer p {
    padding: 15px 0 40px 0;
    color: #9a9a9a;
}

#reservation .selectLayer ul {
    margin: 0 5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5rem;
}

#reservation .selectLayer ul li {
    text-align: center;
}

#reservation .selectLayer ul li dt {
    font-weight: 700;
    letter-spacing: -0.05rem;
    line-height: 60px;
}

#reservation .selectLayer ul li dd {
    position: relative;
    letter-spacing: -0.05rem;
    line-height: 45px;
    font-size: 0.875rem;
    cursor: pointer;
    color: #9a9a9a;
    border: 1px solid #ffffff;
}

#reservation .selectLayer ul li dd:hover {
    border-radius: 5px;
    color: #f73f3c;
    border: 1px solid #f73f3c;
    font-weight: 700;
}

#reservation .selectLayer ul li dd .tips {
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(49, 101, 177, 0.9);
    border-radius: 5px;
    z-index: 110;
    padding: 10px;
    font-size: 0.8125rem;
    color: #fff;
}

#reservation button {
    cursor: pointer;
    width: 100%;
    height: 57px;
    border-radius: 5px;
    background-color: #5e93e1;
    border: none;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1rem;
    letter-spacing: -0.02rem;
    color: #ffffff;
    font-weight: 600;
}

#reservation .text a {
    display: flex;
    width: 100%;
    height: 57px;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#reservation .text span {
    font-size: 1rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    padding-top: 5px;
}

#reservation .text strong {
    font-family: Poppins;
    font-size: 1.75rem;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.05rem;
    text-align: left;
    color: #ffe571;
}

#leisure ul {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1.125rem;
}

#leisure ul .flex {
    width: 100%;
    height: 100%;
    padding: 80px 0 0 65px;
    opacity: .5;
}

#leisure ul .flex .icon {
    width: 40px;
    height: 40px;
    background-image: url(../svg/icon_plus.svg);
}

#leisure ul .imagebox {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 30px;
}

#leisure ul .imagebox .overimg {
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 180px 180px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all ease .3s;
}

#leisure ul .imagebox .overimg.img1 {
    background-image: url(../img/leisure_01.jpg);
}

#leisure ul .imagebox .overimg.img2 {
    background-image: url(../img/leisure_02.jpg);
}

#leisure ul .imagebox .overimg.img3 {
    background-image: url(../img/leisure_03.jpg);
}

#leisure ul .imagebox .overimg.img4 {
    background-image: url(../img/leisure_04.jpg);
}

#leisure ul .imagebox .overimg span {
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    text-shadow: 0 0 2px rgba(0, 0, 0, .8);
    transition: all ease .3s;
}

#leisure ul .imagebox .overimg:hover {
    background-size: 220px 220px;
    transition: all ease .3s;
}

#leisure ul .imagebox .overimg:hover span {
    transition: all ease .3s;
    opacity: 0;
}

#leisure ul p {
    letter-spacing: -0.05rem;
    line-height: 1.88;
    color: #555555;
    padding-bottom: 10px;
}

#leisure ul p b {
    color: #3165b1;
}


#leisure ul strong {
    font-weight: 800;
    letter-spacing: -0.08rem;
}

#leisure ul strong.red {
    color: #da1313;
}

#service {
    background-color: #f9fcff;
}

#service .wrapper {
    width: 100%;
    padding: 40px;
}

#service ul {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.125rem;
}


#service ul .bgimg {
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 340px;
    align-items: flex-end;
    justify-content: flex-start;
    background-size: auto 380px;
    background-position: center center;
    transition: all ease .3s;
}

#service ul .bgimg:hover {
    background-size: auto 440px;
    transition: all ease .3s;
}

#service ul .bgimg strong {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    background-color: rgba(0, 0, 0, .5);
    padding: 5px 10px;
    transition: all ease .3s;
}

#service ul .bgimg strong p,
#service ul .bgimg strong button {
    cursor: pointer;
    font-size: 0.8125rem;
    display: none;
}

#service ul .bgimg:hover strong {
    display: flex;
    transition: all ease .3s;
    padding: 0;
    border-radius: 0;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    letter-spacing: -0.08rem;
}

#service ul .bgimg:hover strong p {
    padding: 20px 0;
    display: block;
    font-size: 0.8125rem;
    font-weight: 500;
    color: rgba(255, 255, 255, .8);
}

#service ul .bgimg:hover strong button {
    display: flex;
    width: 100px;
    height: 40px;
    font-size: 0.75rem;
    color: rgba(255, 255, 255, .8);
    border: 1px solid rgba(255, 255, 255, .6);
    background-color: transparent !important;
    align-items: center;
    justify-content: center;
}

#service ul .bgimg.service_01 {
    background-image: url(../img/service_01.jpg);
}

#service ul .bgimg.service_02 {
    background-image: url(../img/service_02.jpg);
}

#service ul .bgimg.service_03 {
    background-image: url(../img/service_03.jpg);
}

#service ul .bgimg.service_04 {
    background-image: url(../img/service_04.jpg);
}

#service ul .bgimg.service_05 {
    background-image: url(../img/service_05.jpg);
}

#service ul .bgimg.service_06 {
    background-image: url(../img/service_06.jpg);
}

#service ul .bgimg.service_07 {
    background-image: url(../img/service_07.jpg);
}

#service ul .bgimg.service_08 {
    background-image: url(../img/service_08.jpg);
}

#package .listbox .listitem {
    display: none;
}

#package .listbox .listitem:first-child {
    display: block;
}

#package .listbox ul {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

#package .listbox ul li .card {
    cursor: pointer;
    padding: 0 0 40px 0;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #eeeeee;
    background-color: #fdfdfd;
}

#package .listbox ul li .image {
    height: 200px;
    display: flex;
    cursor: pointer;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-size: auto 200px;
    background-position: center center;
    transition: all ease .3s;
}

#package .listbox ul li .image h3 {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 0.8125rem;
    letter-spacing: 0.05rem;
    background-color: rgba(0, 0, 0, .3);
    padding: 15px;
    transition: all ease .3s;
    border-radius: 5px;
}


#package .listbox ul li .card:hover .image h3 {
    display: flex;
    transition: all ease .3s;
    padding: 0;
    border-radius: 0;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    letter-spacing: -0.08rem;
}

#package .listbox ul li .card:hover .image {
    background-size: auto 240px;
}

#package .listbox ul li .image.pkg0101 {
    background-image: url(../img/package_01_01.jpg);
}

#package .listbox ul li .image.pkg0102 {
    background-image: url(../img/package_01_02.jpg);
}

#package .listbox ul li .image.pkg0103 {
    background-image: url(../img/package_01_03.jpg);
}

#package .listbox ul li .image.pkg0104 {
    background-image: url(../img/package_01_04.jpg);
}

#package .listbox ul li .image.pkg0105 {
    background-image: url(../img/package_01_05.jpg);
}

#package .listbox ul li .image.pkg0106 {
    background-image: url(../img/package_01_06.jpg);
}

#package .listbox ul li .image.pkg0107 {
    background-image: url(../img/package_01_07.jpg);
}

#package .listbox ul li .image.pkg0201 {
    background-image: url(../img/package_02_01.jpg);
}

#package .listbox ul li .image.pkg0202 {
    background-image: url(../img/package_02_02.jpg);
}

#package .listbox ul li .image.pkg0203 {
    background-image: url(../img/package_02_03.jpg);
}

#package .listbox ul li .image.pkg0204 {
    background-image: url(../img/package_02_04.jpg);
}

#package .listbox ul li .image.pkg0205 {
    background-image: url(../img/package_02_05.jpg);
}

#package .listbox ul li .image.pkg0206 {
    background-image: url(../img/package_02_06.jpg);
}

#package .listbox ul li .image.pkg0207 {
    background-image: url(../img/package_02_07.jpg);
}

#package .listbox ul li .image.pkg0208 {
    background-image: url(../img/package_02_08.jpg);
}

#package .listbox ul li .image.pkg0209 {
    background-image: url(../img/package_02_09.jpg);
}

#package .listbox ul li .image.pkg0210 {
    background-image: url(../img/package_02_10.jpg);
}

#package .listbox ul li .image.pkg0211 {
    background-image: url(../img/package_02_11.jpg);
}

#package .listbox ul li .image.pkg0301 {
    background-image: url(../img/package_03_01.jpg);
}

#package .listbox ul li .image.pkg0302 {
    background-image: url(../img/package_03_02.jpg);
}

#package .listbox ul li .image.pkg0303 {
    background-image: url(../img/package_03_03.jpg);
}

#package .listbox ul li .image.pkg0304 {
    background-image: url(../img/package_03_04.jpg);
}

#package .listbox ul li .image.pkg0305 {
    background-image: url(../img/package_03_05.jpg);
}

#package .listbox ul li .image.pkg0401 {
    background-image: url(../img/package_04_01.jpg);
}

#package .listbox ul li .image.pkg0402 {
    background-image: url(../img/package_04_02.jpg);
}

#package .listbox ul li .image.pkg0403 {
    background-image: url(../img/package_04_03.jpg);
}

#package .listbox ul li .image.pkg0404 {
    background-image: url(../img/package_04_04.jpg);
}

#package .listbox ul li .image.pkg0405 {
    background-image: url(../img/package_04_05.jpg);
}

#package .listbox ul li .image.pkg0406 {
    background-image: url(../img/package_04_06.jpg);
}

#package .listbox ul li .description {
    padding: 30px 0;
}

#package .listbox ul li .description.add {
    padding-bottom: 0;
}

#package .listbox ul li .description p {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 10px;
    letter-spacing: -0.05rem;
}

#package .listbox ul li .description .add {
    font-size: 1rem;
    font-weight: 400;
    padding: 10px;
    letter-spacing: -0.05rem;
    height: 53px;
    margin-bottom: 30px;
}

#package .listbox ul li .description .price {
    align-items: center;
    justify-content: center;
}

#package .listbox ul li .description .price span {
    font-family: Montserrat, 'Nanum Gothic', sans-serif;
    font-size: 0.75rem;
    color: #999;
    text-decoration: line-through;
    margin-right: 5px;
}

#package .listbox ul li .description .price strong {
    font-family: Montserrat, 'Nanum Gothic', sans-serif;
    font-size: 1.375rem;
    color: #da1313;
    font-weight: 900;
}

#package .listbox ul li button {
    cursor: pointer;
    width: 70%;
    height: 55px;
    border: none;
    background-color: #eee;
    font-size: 0.875rem;
    color: #999;
    font-weight: 500;
    border-radius: 10px;
    transition: all ease .3s;
    letter-spacing: -0.05rem;
}

#package .listbox ul li .card:hover button,
#package .listbox ul li button:hover {
    transition: all ease .3s;
    background-color: #3165b1;
    color: #fff;
}

#tour {
    background-color: #f9fcff;
}

#tour .swiper-container {
    margin-top: 50px;
    position: relative;
    height: 400px;
}

#tour .swiper-container .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#tour .relative .btn {
    width: 80px;
    height: 80px;
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    background-size: 80px 80px;
    opacity: .2;
    transition: all ease .3s;
}

#tour .relative .btn.prev {
    left: -120px;
    background-image: url(../svg/icon_prev.svg);
}

#tour .relative .btn.next {
    right: -120px;
    background-image: url(../svg/icon_next.svg);
}

#tour .relative .btn:hover {
    opacity: .5;
    transition: all ease .3s;
}

#tour .slideContent {
    display: flex;
    width: 100%;
    height: 400px;
    text-align: left;
}

#tour .slideContent .imgbox {
    flex: 1.3;
    background-size: auto 420px;
    background-position: center center;
    transition: all ease .3s;
    border-radius: 5px;
}

#tour .slideContent .imgbox.i01 {
    background-image: url(../img/tour_01.jpg);
}

#tour .slideContent .imgbox.i02 {
    background-image: url(../img/tour_02.jpg);
}

#tour .slideContent .imgbox.i03 {
    background-image: url(../img/tour_03.jpg);
}

#tour .slideContent .imgbox.i04 {
    background-image: url(../img/tour_04.jpg);
}

#tour .slideContent .imgbox.i05 {
    background-image: url(../img/tour_05.jpg);
}

#tour .slideContent .imgbox.i06 {
    background-image: url(../img/tour_06.jpg);
}

#tour .slideContent .imgbox.i07 {
    background-image: url(../img/tour_07.jpg);
}

#tour .slideContent:hover .imgbox {
    background-size: auto 450px;
}

#tour .slideContent .description {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#tour .slideContent .description h3 {
    font-size: 2rem;
    font-weight: 300;
}

#tour .slideContent .description p {
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 0;
    color: #555;
    letter-spacing: -0.05rem;
}

#tour .slideContent .description .text {
    font-size: 0.875rem;
    font-weight: 400;
    padding: 20px 0 0 0;
    text-align: justify;
    line-height: 1.8;
    color: #888;
    letter-spacing: -0.05rem;
}

#tour .slideContent .description .address {
    margin-top: auto;
    display: flex;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    align-items: center;
    padding: 0 15px;
    font-size: 0.75rem;
    letter-spacing: -0.05rem;
}

#tour .slideContent .description .address .marker {
    width: 16px;
    height: 16px;
    background-image: url(../svg/icon_marker.svg);
    background-size: 16px 16px;
    margin-right: 5px;
    opacity: .5;
}

#tour .slideContent .description .address strong {
    color: #555;
}

#tour .slideContent .description .address .addr {
    margin-left: 8px;
    color: #777;
}

#tour .slideContent .description .address .link {
    width: 20px;
    height: 20px;
    background-image: url(../svg/icon_link.svg);
    background-size: 20px 20px;
    margin-left: auto;
    margin-right: 5px;
    opacity: .5;
}

#tour .slideContent .description .address a {

    color: #888;
}

#tour .slideContent .description .address a:hover {
    color: #da1313;
}

#tour .slideContent .split {
    width: 1px;
    margin: 0 40px;
    border-right: 1px dashed #ccc;
}


#bbs .searchbox {
    margin-top: 40px;
}

#bbs .searchbox ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1.125rem;
}

#bbs .searchbox ul input {
    border: 1px solid #e5e5e5;
}

#bbs .selectbox .arrowbox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
}

#bbs .selectbox .arrow {
    width: 12px;
    height: 12px;
    background-image: url(../svg/select_arrow.svg);
    background-size: 12px 12px;
    transition: all ease .3s;
    transform-origin: center center;
}

#bbs .selectbox.on .arrow {
    transform: rotate(90deg);
}

#bbs .selectLayer {
    display: none;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255);
    box-shadow: 0 0 25px rgba(0, 0, 0, .08);
    padding: 20px;
    text-align: center;
}

#bbs .selectLayer dt {
    font-weight: 700;
    letter-spacing: -0.05rem;
    line-height: 65px;
}

#bbs .selectLayer dd {
    letter-spacing: -0.05rem;
    line-height: 45px;
    font-size: 0.875rem;
    cursor: pointer;
    color: #9a9a9a;
    border: 1px solid #ffffff;
}

#bbs .selectLayer dd:hover {
    border-radius: 5px;
    color: #f73f3c;
    border: 1px solid #f73f3c;
    font-weight: 700;
}

#bbs button {
    cursor: pointer;
    width: 100%;
    height: 57px;
    border-radius: 5px;
    background-color: #333333;
    border: none;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1rem;
    letter-spacing: -0.02rem;
    color: #ffffff;
    font-weight: 600;
}

#bbs button.write {
    background-color: #db2522;
    display: none;
}
#bbs button.setPassword {
    display: none;
}

#bbs .post {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

#bbs .post ul li {
    display: flex;
    height: 55px;
    align-items: center;
    font-size: 0.875rem;
    letter-spacing: -0.02rem;
    border-bottom: 1px solid #e5e5e5;
}

#bbs .post ul li.title {
    height: 56px;
    border-top: 1px solid #333;
    background-color: #fafafa;
    border-bottom: 1px solid #e5e5e5;
    font-weight: 600;
}

#bbs .post ul li span {
    display: block;
}

#bbs .post ul li .no {
    width: 120px;
}

#bbs .post ul li .subject {
    flex: 1;
}

#bbs .post ul li .name {
    width: 120px;
}

#bbs .post ul li .date {
    width: 120px;
}

#bbs .post ul li .hit {
    width: 120px;
}

#bbs .post ul li .state {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bbs .post ul li .state label {
    display: flex;
    border-radius: 5px;
    width: 83px;
    height: 32px;
    border-radius: 3px;
    background-color: #999898;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

#bbs .post ul li .state .ok {
    background-color: #3165b1;
}
#bbs .post ul li .state .cancle {
    background-color: #f9ab60;
}

#bbs .post ul li span.f12 {
    font-size: 0.75rem;
    color: #777;
}

#bbs .post ul li.item {
    cursor: pointer;
}

#bbs .post ul li.item .subject {
    text-align: left;
    display: flex;
    align-items: center;
}
#bbs .post ul li.item .subject .chain {
    width: 17px;
    height: 10px;
    border-left: 1px solid #aea8a6;
    border-bottom: 1px solid #aea8a6;
    margin-right: 10px;
}
#bbs .post ul li.item .subject .lock {
    background: url('//new.gcleisure.com/res/img/img.png') no-repeat;
    width: 12px;
    height: 13px;
    background-position: -94px -84px;
    margin-right: 5px;
}
#bbs .post ul li.item .subject {
    font-size: 0.875rem;
    font-weight: 500;
}

#bbs .post ul li.item:hover {
    background-color: #fffafa;
}


#bbs .post ul li.item:hover .subject {
    color: #f73f3c;
}

#gallery {
    background-color: #f9fcff;
}

#gallery .gallerylist {
    margin-top: 60px;
    position: relative;
}

#gallery .swiper-container {
    margin-top: 50px;
    position: relative;
    height: 388px;
}

#gallery .swiper-container .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#gallery ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.125rem;
}

#gallery ul li {
    position: relative;
    width: 388px;
    height: 388px;
    overflow: hidden;
}

#gallery ul li img {
    width: 100%;
}

#gallery .gallerylist .btn {
    width: 80px;
    height: 80px;
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    background-size: 80px 80px;
    opacity: .2;
    transition: all ease .3s;
}

#gallery .gallerylist .btn.prev {
    left: -120px;
    background-image: url(../svg/icon_prev.svg);
}

#gallery .gallerylist .btn.next {
    right: -120px;
    background-image: url(../svg/icon_next.svg);
}

#gallery .gallerylist .btn:hover {
    opacity: .5;
    transition: all ease .3s;
}

#info {
    background-color: #212d3d;
    background-image: url(../img/map.png);
    background-attachment: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#info h2 {
    font-size: 2.5rem;
    font-family: Montserrat;
    font-weight: 600;
    color: #fff;
    letter-spacing: -0.05rem;
}

#info .p2 {
    padding: 10px 0 45px 0;
    color: #fff;
}

#info button {
    cursor: pointer;
    width: 194px;
    height: 62px;
    font-size: 1rem;
    border-radius: 31px;
    background-color: #3165b1;
    border: none;
    font-weight: 700;
    letter-spacing: -0.07rem;
    color: #ffffff;
}

footer {
    background-color: #1c2735;
    color: #7d7d7d;
}

footer .logo {
    align-items: center;
    justify-content: center;
    font-size: 1.875rem;
    letter-spacing: -0.05rem;
    font-weight: 600;
    color: #7d7d7d;
    margin-right: 70px;
}

footer .logo .icon {
    width: 42px;
    height: 42px;
    background-image: url(../svg/logo.svg);
    margin-right: 5px;
    filter: grayscale(100%);
}

footer .address {
    flex: 1;
    font-size: 0.8125rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: -0.52px;
    text-align: left;
    color: #7d7d7d;
}

footer .address span {
    margin-right: 20px;
}

/**페이징**/
#pagination {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pagination li {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 38px;
    height: 38px;
    border: 1px solid #e5e5e5;
    background: #fff;
    border-left: none;
}

#pagination li.prev {
    border-left: 1px solid #e5e5e5;
}

#pagination li span {
    font-family: tahoma;
    display: block;
    font-size: 0.6875rem;
    height: 36px;
    line-height: 34px;
    width: 38px;
    position: relative;
    z-index: 10;
}

#pagination li:hover em.hover {
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 39px;
    height: 38px;
    border: 1px solid #3165b1;
    z-index: 9;
}

#pagination li:hover span {
    color: #3165b1;
    font-weight: bold;
}

#pagination li.active:hover span,
#pagination li.active {
    background-color: #3165b1;
    color: #fff;
}

#pagination li.active em.hover {
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 39px;
    height: 38px;
    border: 1px solid rgba(0, 0, 0, .5);
    z-index: 9;
}

/**페이징**/

/** 하위메뉴 **/
ul.tab {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}

ul.tab li {
    height: 82px;
    display: flex;
    align-self: flex-start;
    justify-content: center;
}


ul.tab li span {
    display: flex;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    color: #888888;
}

ul.tab li.active {
    cursor: pointer;
    border-bottom: 1px solid #d7d7d7;
}

ul.tab li.on {
    border-bottom: 1px solid #3165b1;
}

ul.tab li.on span {
    background-color: #3165b1;
    color: #fff;
    font-weight: 700;
}

/** 하위메뉴 **/

#overlay {
    position: fixed;
    top: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    z-index: 800;
}


.popupLayer {
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
    z-index: 900;
    padding: 50px 80px;
}

.popupLayer .wrapper {
    width: 620px;
}

.popupLayer .icon_necessary {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url(../svg/icon_necessary.svg);
    background-position: center;
    background-size: 22px 22px;
}

.popupLayer .top.closeLayer {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 0px;
    width: 50px;
    height: 50px;
    background-image: url(../svg/icon_close.svg);
    border: none;
    background-color: transparent;
    opacity: .7;
    transition: all ease .3s;
}

.popupLayer .top.closeLayer:hover {
    transition: all ease .3s;
    transform: rotate(90deg);
}

.popupLayer h2 {
    padding: 0;
    margin: 0;
    height: 1;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: -0.1rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.popupLayer h2 span {
    font-size: 0.875rem;
    color: #999999;
    margin-left: 5px;
}

.popupLayer h2 i {
    margin-left: 10px;
}

.popupLayer ul {
    border-top: 1px dashed #dddddd;
    border-bottom: 1px dashed #dddddd;
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.popupLayer li {
    display: flex;
    position: relative;
}

.popupLayer input {
    width: 100%;
    border: 1px solid #e5e5e5;
    transition: all ease .3s;
    background-color: #fafafa;
}

.popupLayer .subjectbox i,
.popupLayer li i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.popupLayer .subjectbox,
.popupLayer .contentbox {
    position: relative;
    border-bottom: 1px dashed #dddddd;
    padding: 30px 0;
    margin-bottom: 30px;
}

.popupLayer .passwordbox {
    position: relative;
    border-top: 1px dashed #dddddd;
    border-bottom: 1px dashed #dddddd;
    padding: 30px 0;
    margin-bottom: 30px;
}

.popupLayer .subjectbox.view {
    border-top: 1px dashed #dddddd;
    padding: 20px 10px 20px 10px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.popupLayer .subjectbox.view h3 {
    font-weight: 700;
    font-size: 1.125rem;
    letter-spacing: -0.05rem;
}

.popupLayer .subjectbox.view .date {
    margin-left: auto;
    font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: -0.05rem;
}

.popupLayer .contentbox.view {
    font-size: 0.875rem;
    line-height: 1.7;
    text-align: justify;
    color: #666;
    padding: 30px 0 30px 20px;
}

.popupLayer .contentbox.view .scroll {
    max-height: 600px;
    overflow-y: scroll;
    padding-right: 20px;
}

.popupLayer .contentbox.view .scroll::-webkit-scrollbar {
    width: 3px;
    background-color: #ddd;
}

.popupLayer .contentbox.view .scroll::-webkit-scrollbar-thumb {
    background-color: #666;
}

.popupLayer .contentbox.view .scroll::-webkit-scrollbar-track {
    background-color: #ddd;
}

.popupLayer .privacybox {
    margin: 30px 0;
    width: 100%;
    border-radius: 5px;
    padding: 0;
    letter-spacing: -0.05rem;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;

}

.popupLayer .privacybox .privacy {
    height: 150px;
    overflow-y: scroll;
    font-size: 0.8125rem;
    line-height: 1.7;
    padding: 0 20px 0 10px;
    margin: 20px 25px 0 15px;
    text-align: justify;
    color: #aaa;
}

.popupLayer .privacybox .privacy p {
    margin-bottom: 10px;
}

.popupLayer .privacybox .agree {
    margin: 20px 0 0 0;
    padding: 20px 25px 20px 25px;
    background-color: #fafafa;
    border-top: 1px dashed #dddddd;
    font-size: 0.875rem;
    color: #888;
}

.popupLayer .privacybox .privacy::-webkit-scrollbar {
    width: 3px;
    background-color: #ddd;
}

.popupLayer .privacybox .privacy::-webkit-scrollbar-thumb {
    background-color: #666;
}

.popupLayer .privacybox .privacy::-webkit-scrollbar-track {
    background-color: #ddd;
}

.popupLayer .btnbox {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popupLayer .btnbox button {
    cursor: pointer;
    width: 170px;
    height: 60px;
    border-radius: 3px;
    border: none;
    background-color: #3165b1;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.05rem;
    color: #ffffff;
    margin: 0 10px;
}


.popupLayer .btnbox button.cancel {
    background-color: #4d4d4d;
}

.popupLayer .btnbox button.modify {
    background-color: #da1313;
}

.popupLayer textarea {
    width: 100%;
    height: 180px;
    border-radius: 5px;
    border: none;
    padding: 25px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.05rem;
    border: 1px solid #e5e5e5;
    background-color: #fafafa;
    resize: none;
    line-height: 1.3;
}

.popupLayer input:focus,
.popupLayer textarea:focus {
    transition: all ease .3s;
    border: 1px solid #3165b1;
    background-color: #f9fbff;
}

.popupLayer .section {
    display: flex;
    align-items: center;
    width: 100%;
    height: 57px;
    letter-spacing: -0.05rem;
}

.popupLayer .section .key {
    display: flex;
    align-items: center;
    height: 57px;
    width: 35%;
    padding: 0 0 0 25px;
    background-color: #f0f0f0;
    border-radius: 5px 0 0 5px;
    border: 1px solid rgba(0, 0, 0, .05);
    color: #999;
}

.popupLayer .section .val {
    display: flex;
    align-items: center;
    height: 57px;
    flex: 1;
    padding: 0 0 0 25px;
    background-color: #fafafa;
    border-radius: 0 5px 5px 0;
    border: 1px solid rgba(0, 0, 0, .05);
    border-left: none;
}

.popupLayer .serviceGrid {
    height: 550px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.popupLayer .serviceGrid .galleryBox {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.7rem;
}

.popupLayer .serviceGrid .galleryBox .mainImg {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .05);
    transition: all ease .3s;
}

.popupLayer .serviceGrid .galleryBox .tab dl {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.7rem;
}

.popupLayer .serviceGrid .galleryBox .tab dl dd {
    border-radius: 5px;
    background-position: center center;
    background-size: 280px;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
    transition: all ease .3s;
}

.popupLayer .serviceGrid .galleryBox .tab dl dd .flex {
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    background-color: rgba(236, 126, 126, 0.2);
    transition: all ease .3s;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.popupLayer .serviceGrid .galleryBox .tab dl dd:hover {
    background-size: 320px;
    transition: all ease .3s;
}

.popupLayer .serviceGrid .galleryBox .tab dl dd:hover .flex {
    font-size: 1.5rem;
    transition: all ease .3s;
    background-color: rgba(0, 0, 0, .7);
}

.popupLayer .serviceGrid .textBox .cTns {
    height: 100%;
    transition: all ease .3s;
}

.popupLayer .serviceGrid .textBox .flex {
    flex-direction: column;
    height: 100%;
}

.popupLayer .serviceGrid .textBox h2 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
    font-size: 1.75rem;
    margin-bottom: 20px;
}

.popupLayer .serviceGrid .textBox ul {
    border: none;
    margin: 0;
    padding: 0;
}

.popupLayer .serviceGrid .textBox li {
    flex-direction: column;
}

.popupLayer .serviceGrid .textBox strong {
    display: block;
    color: #333;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.08rem;
    margin-bottom: 20px;
}

.popupLayer .serviceGrid .textBox strong.topm {
    margin-top: 30px;
}


.popupLayer .serviceGrid .textBox .price span.at {
    font-family: Montserrat, 'Nanum Gothic', sans-serif;
    font-size: 1.25rem;
    color: #cccccc;
    text-decoration: line-through;
    margin-right: 15px;
}

.popupLayer .serviceGrid .textBox .price span.end {
    font-family: Montserrat, 'Nanum Gothic', sans-serif;
    font-size: 1.5rem;
    color: #da1313;
    font-weight: 900;
}


.popupLayer .serviceGrid .textBox .description {
    font-size: 1rem;
    color: #777;
    line-height: 1.7;
    text-align: justify;
    letter-spacing: -0.08rem;
}

.popupLayer .serviceGrid .textBox button {
    margin-top: auto;
    cursor: pointer;
    width: 100%;
    height: 55px;
    border: none;
    background-color: #eee;
    font-size: 1.125rem;
    color: #999;
    font-weight: 500;
    border-radius: 10px;
    transition: all ease .3s;
    letter-spacing: -0.05rem;

}

.popupLayer .serviceGrid .textBox button:hover {
    transition: all ease .3s;
    background-color: #3165b1;
    color: #fff;
}

.popupLayer .galleryBox .mainImg {
    background-position: center center;
    background-size: 520px;
    background-repeat: no-repeat;
}

.serviceP01 .galleryBox .mainImg {
    background-image: url(../img/service/atv_01.jpg);
}

.serviceP02 .galleryBox .mainImg {
    background-image: url(../img/service/rafting_01.jpg);
}

.serviceP03 .galleryBox .mainImg {
    background-image: url(../img/service/canoe_01.jpg);
}

.serviceP04 .galleryBox .mainImg {
    background-image: url(../img/service/survival_01.jpg);
}

.serviceP05 .galleryBox .mainImg {
    background-image: url(../img/service/cart_01.jpg);
}

.serviceP06 .galleryBox .mainImg {
    background-image: url(../img/service/waterlesure_01.jpg);
}

.serviceP07 .galleryBox .mainImg {
    background-image: url(../img/service/argo_01.jpg);
}

.serviceP08 .galleryBox .mainImg {
    background-image: url(../img/service/scooter_01.jpg);
}


.serviceP01 .galleryBox .tab dl dd:nth-child(1) {
    background-image: url(../img/service/atv_01.jpg);
}

.serviceP01 .galleryBox .tab dl dd:nth-child(2) {
    background-image: url(../img/service/atv_02.jpg);
}

.serviceP01 .galleryBox .tab dl dd:nth-child(3) {
    background-image: url(../img/service/atv_03.jpg);
}

.serviceP01 .galleryBox .tab dl dd:nth-child(4) {
    background-image: url(../img/service/atv_04.jpg);
}

.serviceP02 .galleryBox .tab dl dd:nth-child(1) {
    background-image: url(../img/service/rafting_01.jpg);
}

.serviceP02 .galleryBox .tab dl dd:nth-child(2) {
    background-image: url(../img/service/rafting_02.jpg);
}

.serviceP02 .galleryBox .tab dl dd:nth-child(3) {
    background-image: url(../img/service/rafting_03.jpg);
}

.serviceP02 .galleryBox .tab dl dd:nth-child(4) {
    background-image: url(../img/service/rafting_04.jpg);
}

.serviceP03 .galleryBox .tab dl dd:nth-child(1) {
    background-image: url(../img/service/canoe_01.jpg);
}

.serviceP03 .galleryBox .tab dl dd:nth-child(2) {
    background-image: url(../img/service/canoe_02.jpg);
}

.serviceP03 .galleryBox .tab dl dd:nth-child(3) {
    background-image: url(../img/service/canoe_03.jpg);
}

.serviceP03 .galleryBox .tab dl dd:nth-child(4) {
    background-image: url(../img/service/canoe_04.jpg);
}

.serviceP04 .galleryBox .tab dl dd:nth-child(1) {
    background-image: url(../img/service/survival_01.jpg);
}

.serviceP04 .galleryBox .tab dl dd:nth-child(2) {
    background-image: url(../img/service/survival_02.jpg);
}

.serviceP04 .galleryBox .tab dl dd:nth-child(3) {
    background-image: url(../img/service/survival_03.jpg);
}

.serviceP04 .galleryBox .tab dl dd:nth-child(4) {
    background-image: url(../img/service/survival_04.jpg);
}

.serviceP05 .galleryBox .tab dl dd:nth-child(1) {
    background-image: url(../img/service/cart_01.jpg);
}

.serviceP05 .galleryBox .tab dl dd:nth-child(2) {
    background-image: url(../img/service/cart_02.jpg);
}

.serviceP05 .galleryBox .tab dl dd:nth-child(3) {
    background-image: url(../img/service/cart_03.jpg);
}

.serviceP05 .galleryBox .tab dl dd:nth-child(4) {
    background-image: url(../img/service/cart_04.jpg);
}

.serviceP06 .galleryBox .tab dl dd:nth-child(1) {
    background-image: url(../img/service/waterlesure_01.jpg);
}

.serviceP06 .galleryBox .tab dl dd:nth-child(2) {
    background-image: url(../img/service/waterlesure_02.jpg);
}

.serviceP06 .galleryBox .tab dl dd:nth-child(3) {
    background-image: url(../img/service/waterlesure_03.jpg);
}

.serviceP06 .galleryBox .tab dl dd:nth-child(4) {
    background-image: url(../img/service/waterlesure_04.jpg);
}

.serviceP07 .galleryBox .tab dl dd:nth-child(1) {
    background-image: url(../img/service/argo_01.jpg);
}

.serviceP07 .galleryBox .tab dl dd:nth-child(2) {
    background-image: url(../img/service/argo_02.jpg);
}

.serviceP07 .galleryBox .tab dl dd:nth-child(3) {
    background-image: url(../img/service/argo_03.jpg);
}

.serviceP07 .galleryBox .tab dl dd:nth-child(4) {
    background-image: url(../img/service/argo_04.jpg);
}

.serviceP07 .cTns ul li div.photo {
    height: 150px;
    background-position: center center;
    background-size: 200px;
    background-repeat: no-repeat;
}

.serviceP07 .cTns ul li .photo_01 {
    background-image: url(../img/service/argo_05.jpg);
}

.serviceP07 .cTns ul li .photo_02 {
    background-image: url(../img/service/argo_06.jpg);
}

.serviceP08 .galleryBox .tab dl dd:nth-child(1) {
    background-image: url(../img/service/scooter_01.jpg);
}

.serviceP08 .galleryBox .tab dl dd:nth-child(2) {
    background-image: url(../img/service/scooter_02.jpg);
}

.serviceP08 .galleryBox .tab dl dd:nth-child(3) {
    background-image: url(../img/service/scooter_03.jpg);
}

.serviceP08 .galleryBox .tab dl dd:nth-child(4) {
    background-image: url(../img/service/scooter_04.jpg);
}



.popupLayer .mapGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.popupLayer .mapGrid .galleryBox {
    display: grid;
    grid-template-rows: 428px 120px;
    grid-gap: 0.7rem;
}

.popupLayer .mapGrid .galleryBox .mainImg {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .05);
    transition: all ease .3s;
}

.popupLayer .mapGrid .galleryBox .tab dl {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.7rem;
}

.popupLayer .mapGrid .galleryBox .tab dl dd {
    height: 100%;
    border-radius: 5px;
    background-position: center center;
    background-size: 280px;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
    transition: all ease .3s;
}

.popupLayer .mapGrid .galleryBox .tab dl dd:nth-child(1) {
    background-image: url(../img/contact_01.jpg);
}

.popupLayer .mapGrid .galleryBox .tab dl dd:nth-child(2) {
    background-image: url(../img/contact_02.jpg);
}

.popupLayer .mapGrid .galleryBox .tab dl dd .flex {
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all ease .3s;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.popupLayer .mapGrid .galleryBox .tab dl dd:hover {
    background-size: 320px;
    transition: all ease .3s;
}

.popupLayer .mapGrid .galleryBox .tab dl dd:hover .flex {
    font-size: 1.5rem;
    transition: all ease .3s;
    background-color: rgba(0, 0, 0, .7);
}

.popupLayer .mapGrid .galleryBox .mContent div {
    width: 560px;
    height: 428px;
    border: 1px solid #ededed;
    border-radius: 5px;
}

.popupLayer .mapGrid .galleryBox .map01 {
    background-image: url(../img/map_01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 560px 428px;
}

.popupLayer .mapGrid .textBox .cTns {
    height: 100%;
    transition: all ease .3s;
}

.popupLayer .mapGrid .textBox .flex {
    flex-direction: column;
    height: 100%;
}

.popupLayer .mapGrid .textBox h2 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
    font-size: 1.75rem;
    margin-bottom: 20px;
}

.popupLayer .mapGrid .textBox strong {
    display: block;
    color: #333;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.08rem;
    margin-bottom: 20px;
}

.popupLayer .mapGrid .textBox .description {
    font-size: 1rem;
    color: #777;
    line-height: 1.7;
    text-align: justify;
    letter-spacing: -0.08rem;
}

.popupLayer .mapGrid .textBox .addr {
    margin-top: 20px;
}

.popupLayer .mapGrid .textBox .addr,
.popupLayer .mapGrid .textBox .tel {
    display: flex;
    align-items: center;
    line-height: 1.6;
}

.popupLayer .mapGrid .textBox .addr b,
.popupLayer .mapGrid .textBox .tel b {
    display: block;
    width: 80px;
}

.popupLayer .mapGrid .textBox .cTns {
    margin-top: 30px;
}

.popupLayer .mapGrid .textBox .cTns h3 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

#bbsLayer .wrapper {
    display: none;
}

#bbsLayer .wrapper.viewLayer {
    width: 720px;
}

#bbsLayer .wrapper.passwordLayer {
    width: 520px;
}

#infoLayer,
#serviceLayer {
    padding: 30px;
}

#infoLayer .wrapper,
#serviceLayer .wrapper {
    width: 1024px;
    padding: 0;
}

label.checkbox {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 0.875rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label.checkbox:hover {
    color: #999;
}

label.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

label.checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #aaa;
}

label.checkbox:hover input~.checkmark {
    background-color: #ccc;
}

label.checkbox input:checked~.checkmark {
    background-color: #3165b1;
}

label.checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

label.checkbox input:checked~.checkmark:after {
    display: block;
}

label.checkbox .checkmark:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#scrollTop {
    display: none;
    position: fixed;
    z-index: 800;
    right: 50px;
    bottom: 50px;
}

#scrollTop .topbtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #3165b1;
    border: none;
}

#scrollTop .topbtn span {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../svg/icon_top.svg);
    background-size: 20px 20px;
}

.popupLayer .contentbox.comment {
    background-color: #f8f8f8;
    border : none;
}
.read_title {

}

.read_title .subject{
    font-weight: bold;
    color: #333333;
}

.read_title .read_date{
    color: #b4b0b0;
}
.content_text {
    margin-top: 10px;
    color: #7f7f7f;
}
.ck-content {
    border: none !important;
}
.ck-toolbar {
    border: none !important;
}